html {
  background: #0c6c9d;
}

body {
  text-align: center;
  width: 700px;
  padding: 30px 50px;
  margin: 20px auto;
  border-radius: 20px;
  background: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
#table1 {
  border: 1px solid red;
  margin: 30px auto;
}

#table1 td {
  border: 1px dotted blue;
  padding: 10px;
}

#row-1 {
  background-color: #053561;
  color: white;
}

.block {
  background: black;
  color: white;
}
.time {
  font-size: 8px;
  font-style: italic;
}
.subject:hover {
  background: #06413a;
  color: white;
  cursor: cell;
  font-size: 12px;

  transition: font-size 0.5s, background 0.5s, color 0.5s;
}

img {
  width: 50px;
}

#socials-table {
  background: #0c6c9d;
  margin: 30px auto;
  border-radius: 25px;
  width: 250px;
  padding: 10px;
}

#socials-table hr {
  width: 200px;
}

#lunch {
  writing-mode: vertical-rl;
  text-orientation: upright;
  word-spacing: 0px;
}
caption {
  background-color: lightblue;
  color: teal;
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 20px;
}
#college-table {
  border: 1px solid gray;
  margin: auto;
  background-color: lightblue;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  width: 700px;
  border-style: outset;
}

#college-table td {
  border: 1px solid gray;
  font-size: 12px;
  border-style: inset;
  padding: auto 20px;
}
.green {
  color: green;
}
.red {
  color: red;
}
.blue {
  color: blue;
}
.yellow {
  color: orange;
}
.maroon {
  color: maroon;
}
.brown {
  color: brown;
}
.pink {
  color: pink;
}
